.Icon-MiniInfo {
  background: url(images/details.gif) no-repeat center left !important;
  cursor: pointer;
}
.filter-link-text {
        color: blue;
        text-decoration: underline;
        text-align: left;
        vertical-align: top;
        font-size: 1.0em;
        font-weight: normal;
        cursor: pointer;
}
