/** Add css rules here for your application. */
#ecConfigSpec .x-vsplitbar{
    border: 1px solid #878787;
    border-top-width: 0px; 
    border-bottom-width: 0px;
}
#ecConfigSpec-OptionsPanel .x-panel-body{
    background-color:#F0F0F0;
}
#ecConfigSpec-leftFrame .x-toolbar-cell{
    padding-right:5px;
}
.ec-text {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 13px;
}
.ec-link-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.ec-part-config-text{
   font-weight:bold;
   font-family: tahoma, arial, helvetica, sans-serif;
   font-size: 11px;
}

.ec-filter-checkbox-disabled {
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
}
