.vizDisplayBar{
	width:100%;
	background-color:rgb(241,241,241);
}

.vizSelectedLabel{
	display:inline;
}

.vizSelectedBox{
	display:inline;
	width:30px;
}

.gradientV{
    background:#CCCCCC;
    border-width:2px;
    border-color:black;
}

.filterProperties-link {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding: 3px 3px 3px 5px;
    white-space: nowrap;
    display: block;
}