/*
 * Styles to be used in the work center graph area of the PPB.
 */
.base-client-greyout-text {
    color: #BEBEBE;
}

.base-client-highlight-text{
	color: #0000FF;
	font-weight: bold;
}

.base-client-highlight-background {
    background-color: #ffff80;
}

tr.base-client-rowhighlight-warning td, tr.base-client-rowhighlight-warning th{
    background-color:#ffff80;
}

tr.base-client-rowhighlight-error td, tr.base-client-rowhighlight-error th{
    background-color:#ff0000;
}
