/*
 * Styles to be used in the work center graph area of the PPB.
 */
.plant-list-panel {
	margin-top: 11px;
}

.plant-single-list-panel {
	margin-right: 7px;
	width: 150px;
}

.plant-sub-title {
	font-size: 12px;
	font-line: 18px;
	color: #03447E;
	font-weight: bold;
}
 
.plant-list-element {
	position: relative;
	float: left;
	
	margin-bottom: 7px;
	clear: both;
}

 
.structure-title {
	font-size: 16px;
	font-line: 18px;
	font-weight: normal;
	color: #03447E;
}

.structure-list-panel {
	margin-top: 11px;
}

.structure-single-list-panel {
	margin-right: 7px;
	width: 150px;
}

.structure-list-element {
	position: relative;
	float: left;
	
	margin-bottom: 7px;
	clear: both;
}

.structure-sub-title {
	font-size: 12px;
	font-line: 18px;
	font-weight: bold;
}

.wcg-graphrow {
	padding-left: 8px;
}

.wcg-group {
	
	position: relative;
	float: left;
	
	font-family: Segoe UI,tahoma,arial,helvetica,sans-serif;
	color: #235cad;
	
	width: 152px;
	margin-right: 17px;
}

.wcg-loose-header {
	margin-top: 33px;
}

.wcg-group-header {
	font-weight: 600;
	font-size: 16px;

	margin-bottom: 17px;
	
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #235cad;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wcg-subgroup-header {
	color: #235cad;
	font-weight: 600;
	font-size: 12px;
	font-family: Segoe UI, Helvetica, Arial, Sans-serif;

	margin-top: 17px;
	margin-bottom: 7px;
}

.wcg-workcenter {
	border-width: 1px;
	border-style: solid;

	width: 110px;
	height: 40px;

	font-size: 1em;
	font-family: Segoe UI, Helvetica, Arial, Sans-serif;
	color: #235cad;

	padding: 5px;

	margin-top: 7px;

	background-repeat: repeat-x;
}

.wcg-lineWorkCenter {
	position: relative;
	float: left;
}

.wcg-workcenter:hover {
	border-color: #f38800; 
}

.wcg-workcenter-thumbnail{
	position: relative;
	margin: auto;
	width: 36px;
}

.wcg-workcenter-label {
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
	line-height: 12px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wcg-graph {
	 position: relative;
}

.wcg-line {
	 height: 78px;
}

.wcg-main-line {
    background-color: #5bb73b;
    color: white;
}

.wcg-feeders {
	 position: relative;
	 float: none;
}

.wcg-feederColumn {
	position:relative;
	float: left;
	width: 127px;
	bottom: 0px;
	left:0px;
	margin-left:25px;
}

.wcg-feederColumn-first {
	margin-left: 0px;
}

.wcg-feederColumnFiller-first {
	 margin-left: 0px;
}

.wcg-feederLink {
	background-color: #648cc5;
	margin-top: 32px;
	height: 2px;
	width: 5px;

	position: relative;
	float: left;
}

.wcg-joinBar {
	width:3px;
	background-color: #648cc5;
	position: absolute;
	left: 127px;
	top:-22px;
}

.wcg-link {
    position: relative;
    float: left;
    background: url('arrow.png') no-repeat center;
    width: 30px;
    height: 32px;
	margin-top: 25px;
}

.wcg-joinLink {
    position: relative;
    float: left;
    background: url('joinArrow.png') no-repeat center;
    width: 30px;
    height: 32px;
    margin-top: 25px;
}

.wcg-joinOnlyLink {
    position: relative;
    float: left;
    background: url('joinOnlyArrow.png') no-repeat center;
    width: 30px;
    height: 32px;
    margin-top: 25px;
}

.wcg-workcenterFiller {
	position:relative;
	float: left;
	width: 122px;
	bottom: 0px;
	left: 0px;
}

#operationAllocationMainPanel .x-hsplitbar
{
	background-color:#f1f1f1;
	border-color:#b7b7b7;
	border-width:1px;
	border-style:solid;	
}

.details-working-copy {
    height: 9px;
    width: 9px; 
    background: url(../../com/ptc/core/htmlcomp/images/checkedout_byyou9x9.gif) no-repeat;
    position: relative;
    overflow: hidden;
    left:-9px;
    margin-right:-9px;
}

.details-checkedout-copy {
    height: 9px;
    width: 9px; 
    background: url(../../com/ptc/core/htmlcomp/images/checkedout_byother9x9.gif) no-repeat;
    position: relative;
    overflow: hidden;
    left:-9px;
    margin-right:-9px;
}

.settings-title {
	font-size: 12px;
	font-line: 18px;
	color: #03447E;
	font-weight: bold;
	padding-bottom: 10px;
}

.unlocalized-checkbox-label {
	padding-bottom: 10px;
}

.wc-ppb-operation-greyout {
    color: #BEBEBE;
}

.wc-ppb-operation-highlight{
	color: #0000FF;
	font-weight: bold;
}

.wcg-message {
    width: 400px;
}

/* SPR 4811136: bringing back (previously removed) contents so that highlight works. */
.wcg-workcenter-highlight {
    background-color: #f38800;
}

.wcg-list-scroller {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

/* This one needs to come last in the file so that it overrides all other styles for workcenters */
.wcg-workcenter-selected {
    background-color: #3D4647;
}
