#ecConfigSpec-seLeftFrame .x-panel-btns{
    padding:0px 0; 
}
#ecConfigSpec-seOptionsPanel .x-panel-body{
    background-color:#F0F0F0;
}
#ecConfigSpec-seOptionsPanel .x-panel-bc{
    height: 0px;
}
#ecConfigSpec-seLeftFrame .x-fieldset{
    padding:3px; 
    margin:5px;
}
#ecConfigSpec-seLeftFrame .x-toolbar-cell {
    padding-right: 5px;
}

.eff-search-item-5cols-number {
    left: 1px;
    width: 24%;
}
.eff-search-item-5cols-name {
    left: 25%;
    width: 24%;
}
.eff-search-item-5cols-version {
    left: 50%;
    width: 9%;
}
.eff-search-item-5cols-org {
    left: 60%;
    width: 24%;
}
.eff-search-item-5cols-state {
    left: 85%;
    width: 14%;
}

.eff-search-item-4cols-number {
    left: 1px;
    width: 27%;
}
.eff-search-item-4cols-name {
    left: 28%;
    width: 27%;
}
.eff-search-item-4cols-org {
    left: 56%;
    width: 27%;
}
.eff-search-item-4cols-state {
    left: 84%;
    width: 15%;
}

.eff-search-item-3cols-number {
    left: 1px;
    width: 33%;
}
.eff-search-item-3cols-name {
    left: 34%;
    width: 32%;
}
.eff-search-item-3cols-state {
    left: 67%;
    width: 32%;
}
